.DS_Store

# IntelliJ project files
.idea/*
*.iml

# IntelliJ shared dictionary
!.idea/dictionaries
.idea/dictionaries/*
!.idea/dictionaries/shared.xml

# Composer PHARs + dependencies
composer.phar
/vendor/

# npm dependencies
/node_modules/

# Local environment files
.env

# PHP tooling dependencies
/tools/vendor/

# PHP CS Fixer cache
.php-cs-fixer.cache
